/* escrito por vamberto*/

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter&family=Oswald&display=swap");

/* inicio pagina de geolocalização */

.pgGeolocalizacaoImg {
  width: 75vw;
  height: auto;
  display: block;
  margin: 8vh auto 0.6vh auto;
}

.pgGeolocalizacao_Buscando {
  text-align: center;
  font-size: 20px;
}

.pgBtnSelecionarManualmente {
  border: none;
  padding: 20px 28px 20px 28px;
  color: white;
  background-color: #ff0000;
  font-size: 24px;
  border-radius: 8px;
  width: 80vw;
  display: block;
  position: absolute;
  left: 10vw;
  bottom: 4vh;
}

/* Fim pagina de localização */

/* Ínicio pagina login */

.imgLogin {
  display: block;
  margin: 8vh auto 0 auto;
  width: 90%;
  height: auto;
}

.pgLoginEmail,
.pgLoginSenha {
  width: 291px;
  height: 44px;
  display: block;
  margin: 20px auto 0 auto;
  border-radius: 8px;
  border-color: #3a3aeb;
  padding: 0 10px 0 10px;
  border-width: 1px;
}

.esqueceuASenha {
  margin-left: 220px;
}

.loginEntrar {
  display: block;
  margin: 80px auto 0 auto;
  width: 311px;
  height: 46px;
  color: white;
  background-color: #ff0000;
  border-radius: 8px;
  border: none;
  font-size: 24px;
}
.seCadastrar {
  display: block;
  margin: 18px auto 0 auto;
  width: 311px;
  height: 46px;
  color: #ff0000;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #ff0000;
  font-size: 20px;
}

/* Fim Pagina login */

/* Ínicio pagina cadastro */

.imgCadastro {
  display: block;
  margin: 8vh auto 0 auto;
  width: 54%;
  height: auto;
}

.pgCadastroInputs {
  width: 291px;
  height: 44px;
  display: block;
  margin: 20px auto 0 auto;
  border-radius: 8px;
  border-color: #3a3aeb;
  padding: 0 10px 0 10px;
  border-width: 1px;
}

.btnSeCadastrar {
  display: block;
  margin: 60px auto 0 auto;
  width: 311px;
  height: 46px;
  color: white;
  background-color: #ff0000;
  border-radius: 8px;
  border: none;
  font-size: 24px;
}

.btnEntrar {
  display: block;
  margin: 18px auto 0 auto;
  width: 311px;
  height: 46px;
  color: #ff0000;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #ff0000;
  font-size: 20px;
}

/* Card dos Anuncios tela */
.cardAnuncio {
  height: 95px;
  width: 98vw;
  border: 0.6px solid #d3d3d3;
  display: flex;
  margin: 9px auto 0 auto;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 0px 14px -4px #cccccc;
}
.cardImg {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.cardTexto {
  margin-left: 4px;
}
.cardTitle {
  font-size: 20.9px;
  color: #222222;
  font-weight: 500;
  margin-top: 4px;
}
.cardPreco {
  font-size: 19px;
  color: #222222;
  font-weight: 450;
  margin-top: 2px;
}
.cardDetalhes {
  font-size: 15px;
  color: #222222;
  font-weight: normal;
  margin-top: 20px;
}
/* Fim Card dos anuncios */

/* Ínicio principal */
.menuBar {
  background-color: #1a1abe;
  display: flex;
  width: 100vw;
  position: fixed;
  bottom: 0;
  padding: 4% 0 4% 0;
  justify-content: center;
  gap: 10vw;
  align-items: center;
}

.imgMenu {
  height: 4vh;
  width: 6.9vw;
}
.imgMais {
  height: auto;
  width: 12.9vw;
}

.imgWhatsapp {
  height: auto;
  width: 15vw;
  position: absolute;
  bottom: 15vh;
  right: 8vw;
}

.pgPrincipalContainer {
  scroll-snap-type: y mandatory;
  height: 90vh;
  width: 100vw;
  overflow-y: scroll;
}

.pgPrincipalCardAnuncio {
  scroll-snap-align: start;
  height: 90vh;
  position: relative;
}

.subtitle {
  font-size: 1.1rem;
  font-family: "Oswald", sans-serif;
}

.preco {
  font-size: 1.8rem;
  font-family: "Oswald", sans-serif;
}

.title {
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  line-height: 0.6;
}
.descricao {
  position: absolute;
  bottom: 4vh;
  left: 8vw;
}

.videoAnuncio {
  z-index: -1;
  height: 100%;
  width: 100%;
}
/* Fim Da pagina principal */

/* Ínicio de Inserir anúncio */
.pgInserirAnunciosAppBar {
  width: 100vw;
  height: 8vh;
  border: none;
  background-color: #1a1abe;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.pgInserirAnunciosTitle {
  color: white;
  font-size: 22px;
}

.pgInserirAnunciosSeta {
  margin-left: 6vw;
  position: absolute;
  left: 1.5vw;
}

.pgInserirAnunciosContainer {
  margin: 15vh auto 0 auto;
  width: 311px;
}
.pgInserirAnunciosImg {
  width: 291px;
  height: 154px;
  display: block;
  margin: 0 auto 0 auto;
  border: 1px dashed #3a3aeb;
  border-radius: 8px;
  padding: 0 10px 0 10px;
  border-width: 1px;
}

.pgInserirAnunciosInputTitle {
  margin-top: 2.9vh;
}
.pgInserirAnunciosInput_2 {
  width: 291px;
  height: 40px;
  display: block;
  margin: 0 auto 0 auto;
  border-radius: 8px;
  border-color: #3a3aeb;
  padding: 0 10px 0 10px;
  border-width: 1px;
}
.CEP {
  width: 173px;
}

.pgInserirAnunciosBtn {
  width: 311px;
  height: 42px;
  display: block;
  margin: 0 auto 0 auto;
  border-radius: 8px;
  padding: 0 10px 0 10px;
  border: none;
  background-color: #ff0000;
  color: white;
  font-size: 22px;
  margin-top: 8vh;
}
/* pagina meus anuncios */
.cardMeusAnuncios {
  background-color: #fbfbfb;
  padding-top: 40px;
  margin-top: 62px;
}
/* Fim pagina meus anuncios */
/* Inicio Do list chat */

.containerChat {
  display: block;
  margin-top: 120px;
}
.chatUser {
  width: 92vw;
  display: flex;
  margin: 15px auto 0 auto;
  align-items: center;
}
.listChatImg {
  height: auto;
  width: 15vw;
}
.listText {
  margin-left: 8px;
}
.listChatTitle {
  font-size: 22px;
}
.listChatSubtitle {
  color: rgb(128, 128, 128);
  font-size: 16px;
}
.listChatData {
  align-self: flex-start;
  margin: 1.4vh 0 0 auto;
  font-size: 14px;
  color: rgb(128, 128, 128);
}

/* Fim do list Chat */
