/* escrito por vamberto*/

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* inicio pagina de geolocalização */

.pgGeolocalizacaoImg {
  width: 75vw;
  height: auto;
  display: block;
  margin: 8vh auto 0.6vh auto;
}

.pgGeolocalizacao_Buscando {
  text-align: center;
  font-size: 20px;
}

.pgBtnSelecionarManualmente {
  border: none;
  padding: 20px 28px 20px 28px;
  color: white;
  background-color: #ff0000;
  font-size: 24px;
  border-radius: 8px;
  width: 80vw;
  display: block;
  position: absolute;
  left: 10vw;
  bottom: 4vh;
}

/* Fim pagina de localização */

/* Ínicio pagina login */

.imgLogin {
  display: block;
  margin: 8vh auto 0 auto;
  width: 90%;
  height: auto;
}

.pgLoginEmail,
.pgLoginSenha {
  width: 291px;
  height: 44px;
  display: block;
  margin: 20px auto 0 auto;
  border-radius: 8px;
  border-color: #3a3aeb;
  padding: 0 10px 0 10px;
  border-width: 1px;
}

.esqueceuASenha {
  margin-left: 220px;
}

.loginEntrar {
  display: block;
  margin: 80px auto 0 auto;
  width: 311px;
  height: 46px;
  color: white;
  background-color: #ff0000;
  border-radius: 8px;
  border: none;
  font-size: 24px;
}
.seCadastrar {
  display: block;
  margin: 18px auto 0 auto;
  width: 311px;
  height: 46px;
  color: #ff0000;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #ff0000;
  font-size: 20px;
}

/* Fim Pagina login */

/* Ínicio pagina cadastro */

.imgCadastro {
  display: block;
  margin: 8vh auto 0 auto;
  width: 40%;
  height: auto;
}

.pgCadastroInputs {
  width: 291px;
  height: 44px;
  display: block;
  margin: 20px auto 0 auto;
  border-radius: 8px;
  border-color: #3a3aeb;
  padding: 0 10px 0 10px;
  border-width: 1px;
}

.btnSeCadastrar {
  display: block;
  margin: 60px auto 0 auto;
  width: 311px;
  height: 46px;
  color: white;
  background-color: #ff0000;
  border-radius: 8px;
  border: none;
  font-size: 24px;
}

.btnEntrar {
  display: block;
  margin: 18px auto 0 auto;
  width: 311px;
  height: 46px;
  color: #ff0000;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #ff0000;
  font-size: 20px;
}

/* Ínicio Pagina de  Anúncios */

/* Ínicio Sidebar */
.sideBar {
  position: absolute;
  width: 222px;
  height: 100vh;
  background-color: #2b2bc9;
  z-index: 10;
}

.usuario {
  height: 62px;
  background-color: #2323c6;
  position: relative;
}

.btnUsuario {
  display: flex;
  position: absolute;
  color: white;
  left: 35px;
  font-size: 22px;
  top: 18px;
}

.btnUsuarioImg {
  width: 18%;
  height: auto;
  margin-right: 8px;
}

.pgSideBarImg {
  width: 12%;
  height: auto;
  margin-right: 8px;
}

/* Fim Sidebar */

.appBar {
  position: fixed;
}
.topo {
  width: 100vw;
  height: 62px;
  margin-top: 0;
  background-color: #1a1abe;
}

.btnSideBar {
  margin: 24px 0px 0px 20px;
}

.filtrosBar {
  display: flex;
  justify-content: center;
  background-color: #3a3aeb;
  width: 100vw;
  height: 42px;
  align-items: center;
}
.anuncioBar,
.categoria,
.anuncioBar,
.filtros {
  margin-left: 20px;
  font-size: 20px;
  color: white;
  font-family: "Inter", sans-serif;
}
.regiao {
  font-size: 20px;
  color: white;
  font-family: "Inter", sans-serif;
}

.anuncioBar {
  color: #1a1abe;
}

.sideBarPage {
  margin-top: 100px;
}

.btnUsuario {
  display: flex;
  position: absolute;
  color: white;
  left: 35px;
  font-size: 22px;
  top: 18px;
}
.pgSideBarText {
  color: white;
  font-size: 18px;
  margin-left: 35px;
  display: flex;
  margin-top: 22px;
}
.home {
  display: inline-block;
}

/* Fim Pagina de anuncios */

.page-deslizante {
  z-index: 3;
  width: 310px;
  height: 100%;
  background: #ffffff;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
}

.anuncios {
  width: 100vw;
  height: 1000px;
}

/* Fim Da pagina principal */

/* Ínicio de Inserir anúncio */
.pgInserirAnunciosAppBar {
  width: 100vw;
  height: 8vh;
  border: none;
  background-color: #1a1abe;
  display: flex;
  align-items: center;
}

.pgInserirAnunciosTitle {
  color: white;
  font-size: 20px;
}

/* .pgInserirAnunciosSeta { */
.pgInserirAnunciosContainer {
  margin: 80px auto;
  width: 311px;
}
.pgInserirAnunciosImg,
.pgInserirAnunciosInput_2 {
  width: 291px;
  height: 40px;
  display: block;
  margin: 0 auto 0 auto;
  border-radius: 8px;
  border-color: #3a3aeb;
  padding: 0 10px 0 10px;
  border-width: 1px;
}
